$modal: ant-modal;
$modal-header: #{$modal}-header;

.#{$modal} {
  &-wrap {
    background: rgba(0, 0, 0, 0.45);
  }

  &-content {
    .#{$modal} {
      &-title {
        font-size: 14px;
        color: $c-text;
      }
    }
  }

  &.modal-custom {
    .#{$modal} {
      &-close {
        top: 10px;
      }

      &-header {
        margin-bottom: 0;
        // padding: 10px;
      }

      &-footer {
        margin-top: 0;
      }
    }
  }
}
