.side_bar_option {
  padding-left: 15px;
  height: 80px;
  line-height: 70px;
  border-bottom: 7px solid #f0f0f0;
}
a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
}
.right-side-bar {
  padding-left: 20px;
  width: 98%;
}
.bill-invoice-heading {
  font-size: 20px;
  font-weight: bolder;
  height: 50px;
  line-height: 50px;
  color: blue;
  padding-left: 20px;
}
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.each-sample-pdf {
  /* color: #175491; */
  /* border: 1px solid #175491; */
  border-radius: 5px;
  line-height: 30px;
  min-width: 160px;
  margin: 10px 0px 0px 50px;
  text-align: center;
  font-weight: 400;
  padding: 0px 10px 0px 10px;
  display: inline-block;
}
.side_bar_option span {
  color: #808080;
  padding-left: 10px;
  font-weight: bolder;
  font-size: 18px;
  text-decoration: none;
}

.left-side-bar {
  width: 316px;
  position: absolute;
}
a {
  text-decoration: none !important;
}

.report-div {
  align-content: center;
  margin: 1% 1% 1% 1%;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 1px 1px 15px grey;
  border-radius: 10px;
}
.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.bill-invoice-heading {
  font-size: 20px;
  font-weight: bolder;
  height: 50px;
  line-height: 50px;
  color: #175491;
  padding-left: 20px;
  text-decoration: underline;
}
.sample-report-row {
  min-height: 60px;
  line-height: 50px;
  border-bottom: 2px solid #f0f0f0;
  border-top: 2px solid #f0f0f0;
  padding-left: 20px;
}
.report {
  margin-left: auto;
  margin-right: 20px;
}

.row-bill-invoice-heading {
  text-align: center;
}
