.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(253, 253, 253);
  z-index: 2;

  &:global {
    &.shown {
      opacity: 1;
      transition: all 0;
    }

    &.hidden {
      opacity: 0;
      transition: all 0.5s;
    }
  }
}
