@import '../../scss/variables';

$sidebar-prefix: ant;
$link-color: rgba(2, 248, 252, 0.5);

.brand {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  background-color: $c-white;
}

.brandLogo {
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    max-width: 150px;
  }
}
